:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  color: #f1f3f5;
  background-color: #212529;
  font-family: "Julius Sans One", sans-serif;
}
.highlight {
  font-size: 72px;
  background: -webkit-linear-gradient(#343a40, #ced4da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.container {
  margin: 0 auto;
}
.heading-primary {
  font-size: 3rem;
  text-align: start;
  line-height: 0.9;
  margin-bottom: 1.6rem;
}
.heading-secondary {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
.heading-tertiary {
  color: #3b5bdb;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
