.image-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0d0f10;
}
.text-content {
  width: 50%;
}
/*  url(../../content/img/IMG_20220702_184006_339.jpg); */
